body{
    display:inline;
}
header {
    text-align:center;
    height:100px;
    position:relative;
    color:white;
background-color:rgb(31, 31, 143);
border:4px solid;
border-color:black;
}
hr{
    height:10px;
    background-color:rgb(156, 195, 233);
    width:50%;
}
h1{
    padding-top:20px;
}
h2{
    text-align:center;
}
p { width:50%;
    margin-left:200px;
    margin-right:200px;
}
footer{
    height:100px;
    
    background-color:rgb(31, 31, 143);
    border:4px solid;
    border-color:black;
}
span{
    display:inline;
}
img{
    float:right;
    margin-right:40px;
}